@font-face {
    font-family: 'Source Code Pro';
    src: url('/SourceCodePro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/SourceCodePro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

body {
  background: #000;
  margin: 0;
  position: relative;
  font: caption;
}

#app {
  width: 100%;
  height: calc(100vh - 26px);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 4px;
  left: 0;
  will-change: scroll-position;
}

#app::-webkit-scrollbar {
  width: 8px;
  border: 0;
}

#app::-webkit-scrollbar-track {
  background-color: transparent;
}

#app::-webkit-scrollbar-thumb {
  background-color: #444;
}

.titlebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
  font: caption;
  font-size: 13px;
  line-height: 22px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 4;
}

.titlebar.is-blurred {
  color: #aaa;
}

.help {
  position: fixed;
  right: 8px;
  bottom: 0;
  left: 0;
  padding: 0 12px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font: caption;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 5;
  animation: help-appear 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.help-list {
  display: block;
  margin: 12px 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.help-stroke {
  color: #0fe;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.help.is-removing {
  animation: help-disappear 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.help-command {
  display: inline-block;
  transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-right: 16px;
}

body.is-peeking .grid-command,
body:not(.can-shuffle) .shuffle-command,
body:not(.can-finder) .finder-command {
  opacity: 0.2
}

body.is-peeking .grid-command .help-stroke,
body:not(.can-shuffle) .shuffle-command .help-stroke,
body:not(.can-finder) .finder-command {
  color: #fff;
}

.list {
  position: relative;
}

.row {
  padding: 0 2px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 16.666666667vw;
  transform: translateZ(0);
  will-change: contents;
}

.item {
  margin: 2px;
  background-size: cover;
  background-position: center;
  cursor: zoom-in;
  outline: 0;
}

.item:focus {
  background-color: #0fe;
  background-blend-mode: exclusion;
}

.peek {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,1);
  cursor: zoom-out;
  z-index: 5;
  animation: peek-appear 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.peek-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.peek-image.is-appearing {
  animation: peek-image-appear 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.peek.is-animating {
  background-color: rgba(0,0,0,0);
  animation: peek-disappear 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.peek.is-animating .js-peek-image {
  opacity: 0;
  animation: peek-image-disappear 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.peek-image.sweep-left {
  animation: peek-image-left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.peek-image.sweep-right {
  animation: peek-image-right 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.is-none {
  display: none;
}

.is-hidden {
  visibility: hidden;
}

.is-frozen {
  overflow: hidden;
}

.edge {
  position: absolute;
  bottom: 5%;
  height: 10px;
  width: 100%;
  display: block;
}

.drop {
  position: fixed;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.95);
  cursor: copy;
  z-index: 6;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-direction: forwards;
  pointer-events: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop.is-dragging {
  opacity: 1;
}

.shuffler {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 256px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  color: #0fe;
  z-index: 6;
  pointer-events: none;
  animation: shuffler-appear 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.splash {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-open {
  appearance: none;
  background: transparent;
  border: 2px solid #0fe;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 32px;
  cursor: pointer;
  outline: 0;
  opacity: 0;
  animation: appear 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 0.3s;
}

.splash-open:active {
  color: #0fe;
}

.loader {
  position: fixed;
  display: block;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  z-index: 6;
  animation: loader-appear 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loader.has-loaded {
  animation: loader-disappear 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 1s;
}

@keyframes select {
  0% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes peek-appear {
  0% {
    background-color: rgba(0,0,0,0);
  }
}

@keyframes help-appear {
  0% {
    transform: translateY(48px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes help-disappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(48px);
    opacity: 0;
  }
}


@keyframes peek-image-appear {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
}

@keyframes peek-disappear {
  0% {
    background-color: rgba(0,0,0,1);
  }
  100% {
    background-color: rgba(0,0,0,0);
  }
}

@keyframes peek-image-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes peek-image-left {
  0% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes peek-image-right {
  0% {
    transform: translateX(-12px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shuffler-appear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-64px);
  }
}

@keyframes loader-appear {
  0% {
    top: 100%;
  }
  100% {
    top: 22px;
  }
}

@keyframes loader-disappear {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}